@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary-dark: #042C71;
  --color-accent-orange: #CE4912;
}

:root {
  --background: #042C71;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
